

.Login-Integral{
background-image: url("https://images.pexels.com/photos/34166/pexels-photo.jpg?cs=srgb&dl=architecture-cityscape-cityview-34166.jpg&fm=jpg");
height: 100vh;
width: 100%;
}

.Icon-Register{
    color: black;
}

.logoRedSocial{
 width:60% ; 
 height:80%; 
 text-align: center;
}
.btnGoogle{
 background-color: red;
 color: white;
 width: 49%;
 text-align: center;
}
.CardRegister{
    margin-top: 20%
}
.singUpBtn{
    color:black;
}
.signUp{
    margin-top: 10%;
}
.btnRegister{
    background-color: #009688;
}