

.Login-Integral{
background-image: url("https://images.pexels.com/photos/34166/pexels-photo.jpg?cs=srgb&dl=architecture-cityscape-cityview-34166.jpg&fm=jpg");
height: 100vh;
width: 100%;
}

.Icon-Register{
    color: black;
}